# ── Email (Gmail SMTP) ─────────────────────────────────────
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mavanidevam30@gmail.com
SMTP_PASS=tedpfzimljrxdshu
SMTP_FROM_NAME=PosePerfect

# ── Telegram ───────────────────────────────────────────────
TELEGRAM_BOT_TOKEN=8627956241:AAGRd19d4RdRhoemstSqtRS4ymEhXU3h5Ck
TELEGRAM_CHAT_ID=1875073655

# ── Firebase ───────────────────────────────────────────────
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json